.sign {
  position: absolute;
  top: 58px;
  backdrop-filter: opacity(30%);
  height: 220vh;
  width: 100%;
  z-index: 10;
}

.form {
  background-color: white;
  border-radius: 10px;
  width: max-content;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.form p:nth-child(1) {
  text-align: center;
  font-size: 2em;
  border-bottom: 5px solid #ffc048;
  margin-bottom: 20px;
  padding-bottom: 5px;
  width: max-content;
}

.form input {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px 20px;
  width: 80%;
}

.form div {
  background-color: #ffc048;
  width: max-content;
  padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.form div:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.message {
  font-size: 0.8em;
  color: orangered;
  margin-bottom: 20px;
}

.create-account {
  color: blue;
  font-size: 0.8em;
  cursor: pointer;
  margin-bottom: 20px;
}

.register {
  background-color: #ccf6c8;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1.2px;
  word-spacing: 3px;
  position: absolute;
  width: 100%;
  animation: mymove 0.3s normal;
}

.exists {
  background-color: #ff847c;
  color: white;
  padding: 15px 0;
  text-align: center;
  font-weight: 500;
  position: absolute;
  width: 100%;
  animation: mymove 0.3s normal;
}

@keyframes mymove {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}
