.details-container {
  display: flex;
  margin: 50px 80px;
  justify-content: space-between;
}

i {
  color: #ffe05d;
}

.movie-details {
  width: 40%;
}

iframe {
  width: 50%;
  height: 70vh;
}

.movie-details h1 {
  letter-spacing: 1.3px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 2.2em;
}

.movie-details p {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.movie-details p i {
  margin-left: 10px;
  margin-right: 5px;
}

.movie-details p span {
  font-weight: 500;
  letter-spacing: 1.3px;
}

h3 {
  margin-bottom: 20px;
  letter-spacing: 1.3px;
  font-size: 1.4em;
  margin-top: 40px;
}

h3 + div {
  line-height: 1.8em;
  word-spacing: 0.3em;
}
